.social-icons {
	padding: 0!important;
	margin: 0!important;
	list-style-type: none!important;
}
.social-icons li{
	float: left!important;
	margin-right: 2px!important;
	margin-bottom: 2px!important;
	padding: 0px!important;
	display: inline!important;
	width: auto!important;

}			
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 40px!important;
	height: 40px!important;
	text-indent: -9999px!important;
}
.social-icons li a:hover {
	background-position: 0 -40px!important;
}
.social-icons li a {
	background-color:transparent;
}
.social-icons li.weibo a {
	background: url(icons/weibo.png) no-repeat 0 0;
}
.social-icons li.weibo a:hover {
	background-color: #e41d2e;
}
.social-icons li.zhihu a {
	background: url(icons/zhihu.png) no-repeat 0 0;
}
.social-icons li.zhihu a:hover {
	background-color: #219bff;
}
.social-icons li.douban a {
	background: url(icons/douban.png) no-repeat 0 0;
}
.social-icons li.douban a:hover {
	background-color: #228A31;
}

